# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Node modules
node_modules/

# Local cache & builds
npm-cache/
dist/
dist-ssr/
coverage/

# OS and Editor files
.DS_Store
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env
.env.local
.env.*.local
